#header {
    background: #009270;
   
}
#header a {
    color: white;
    text-decoration: none;
}
 :hover #header { 
    background: rgb(214, 89, 31); 

}
#sub-heading a {
    color: white;
    text-decoration: none;
}
#sub-heading {
    background: #222;
    padding: 10px 0px;
}

   

